.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		width: calc(25% - 12px);
		background-color: var(--tertiary-color);
		margin-bottom: 13px;
		cursor: pointer;
		filter: grayscale(1);

		@include tablet {
			width: calc(50% - 6px);
		}

		@include mobile {
			width: 100%;
		}

		&:hover {
			filter:grayscale(0);
		}

		&:nth-child(1) {
			background-image: url("../images/cat1.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(2) {
			background-image: url("../images/cat2.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(3) {
			background-image: url("../images/cat3.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(4) {
			background-image: url("../images/cat4.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(5) {
			background-image: url("../images/cat5.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(6) {
			background-image: url("../images/cat6.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(7) {
			background-image: url("../images/cat7.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(8) {
			background-image: url("../images/cat8.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(9) {
			background-image: url("../images/cat9.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(10) {
			background-image: url("../images/dogs.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(11) {
			background-image: url("../images/cat1.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(12) {
			background-image: url("../images/cat2.jpg");
			background-position: center;
			background-size: 100%;
		}
		
		&:nth-child(13) {
			background-image: url("../images/cat3.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(14) {
			background-image: url("../images/cat4.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(15) {
			background-image: url("../images/cat5.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(16) {
			background-image: url("../images/cat6.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(17) {
			background-image: url("../images/cat7.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(18) {
			background-image: url("../images/cat8.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(19) {
			background-image: url("../images/cat9.jpg");
			background-position: center;
			background-size: 100%;
		}

		&:nth-child(20) {
			background-image: url("../images/dogs.jpg");
			background-position: center;
			background-size: 100%;
		}

		div {
			padding-bottom:56.25%;
		}
	}

}