.page-title {
	font-size: 7em;
	font-family: var(--title-font);
	position: relative;
	margin-top: 9vmin;

	&:before {
		position: absolute;
		left: 0;
		bottom: 3px;
		height: 16px;
		width: 100%;
		background-color: var(--tertiary-color);
		content: '';
		z-index: -1;
	}
}