.page-title {
	font-size: 10em;
	font-family: var(--title-font);
	position: relative;
	margin-left: 0px;
	margin-bottom: -10px;

	&:before {
		position: absolute;
		left: 0;
		bottom: 3px;
		height: 18px;
		width: 100%;
		background-color: var(--main-color);
		content: '';
		z-index: -1;
	}
}