:root {
	--primary-color: #003D56;
	--secondary-color: #FFF3DB;
	--tertiary-color: #5DFF5D;
	--title-font: 'Franklin Gothic', monospace;
	--copy-font: 'Franklin Gothic', sans-serif;
}

// --primary-color: #003D56;
// --secondary-color: #FFF3DB;
// --tertiary-color: #5DFF5D;
