:root {
	--primary-color: #000000;
	--secondary-color: #FFFFFF;
	--tertiary-color: #FF5D73;
	--main-color: #3C72A0;
	--gallery-color: #b7d2ff;
	--background-color: #001f51; 
	--title-font: 'Cormorant Garamond', serif;
}