:root {
	--primary-color: rgb(3, 16, 51);
	--secondary-color: rgba(255, 255, 255, 0.9);
	--tertiary-color: rgb(105, 40, 179);
	--title-font: "Trebuchet MS", Arial, sans-serif;
	--copy-font: 'Roboto', sans-serif;
}